/* Style for the timeline */
.timeline {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.timeline-item {
  width: 80%;
  height: 1px;
  background-color: #ccc;
  margin: auto;
  cursor: pointer;
}

.timeline-item.active {
  background-color: #000000;
  color: #000;
}

.timeline-slide {
  display: flex;
  align-items: center;
}

.timeline-content {
  display: flex;
  align-items: center;
}

.timeline-content .swiper-image img {
  max-width: 100%;
  height: auto;
}

.timeline-content .swiper-content {
  flex: auto;
  max-width: 100%;
  padding: 0 10px 0 10px;
}

.item-text {
  width: 100%;
}
.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
  display: none;
}
