/* Style for the timeline */
.timeline {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.timeline-item {
  width: 80%;
  height: 1px;
  background-color: #ccc;
  margin: auto;
  cursor: pointer;
}

.timeline-item.active {
  background-color: #000000;
  color: #000;
}

.timeline-slide {
  display: flex;
  align-items: center;
}

.timeline-content {
  display: flex;
  align-items: center;
}

.timeline-content .swiper-image img {
  max-width: 100%;
  height: auto;
}

.timeline-content .swiper-content {
  flex: auto;
  max-width: 100%;
  padding: 0 10px 0 10px;
}

.item-text {
  width: 100%;
}
.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
  display: none;
}

.swiper-button-next::after {
  display: none;
}
.swiper-button-prev::after {
  display: none;
}

/*** Responsive Styles Large Desktop And Above ***/
@media all and (min-width: 1405px) {
  .swiper-button-next {
    position: absolute;
    width: 30px !important;
    height: 30px !important;
    margin-left: -320px !important;
    /*background: #063 !important*/
    top: 200px !important;
    bottom: 0px !important;
    left: 50% !important;
  }

  .swiper-button-prev {
    position: absolute;
    width: 30px !important;
    height: 30px !important;
    margin-left: -360px !important;
    /*background: red !important;*/
    top: 200px !important;
    bottom: 0px !important;
    left: 50% !important;
  }
}

/*** Responsive Styles Standard Desktop Only ***/
@media all and (min-width: 1100px) and (max-width: 1405px) {
  .swiper-button-next {
    position: absolute;
    width: 30px !important;
    height: 30px !important;
    margin-left: -320px !important;
    /*background: #063 !important*/
    top: 200px !important;
    bottom: 0px !important;
    left: 50% !important;
  }

  .swiper-button-prev {
    position: absolute;
    width: 30px !important;
    height: 30px !important;
    margin-left: -360px !important;
    /*background: red !important;*/
    top: 200px !important;
    bottom: 0px !important;
    left: 50% !important;
  }
}
